<style>
    #back-button a:hover {
        background: none;
        color: black;
    }

    .back-button {
        color: black;
        background-color: none;
    }
</style>

<div id="back-button" style="position:fixed;right:90px;bottom:5px">
    <%# <a class="back-button" href="#"> %>
    <%= link_to "戻る", :back %>
    <%# <i class="fas fa-arrow-circle-left fa-3x"></i> %>
    <%# </a> %>
</div>