<% comments.each do |comment| %>
<div class="col-12 text-left">
    <%= link_to image_tag(comment.user.image.url, size:"40x40", class:"avatar-type-circle"), comment.user if comment.user.image.url %>
    <%= comment.user.name %>
    <%= comment.content %>
    <% if comment.user == current_user %>
    <%= link_to micropost_comment_path(@micropost, comment), method: :delete, remote: true do %>
    <i class="fas fa-trash-alt text-muted"></i>
    <% end %>
    <% end %>
</div>
<% end %>