<style>
    #back-to-top a:hover {
        background: none;
        color: black;
    }

    .back-top-icon {
        color: black;
        background-color: none;
    }
</style>

<div id="back-to-top" style="position:fixed;right:40px;bottom:5px">
    <a class="back-top-icon" href="#">
        <i class="fas fa-arrow-alt-circle-up fa-3x"></i>
    </a>
</div>